<!DOCTYPE html>
<html>
<body>
<h1>RANK-LIST</h1>
<table>
<tr>
<th>S.No.</th>
<th>Roll No.</th>
<th>Gender </th>
<th>Category </th>
<th>Written Marks</th>
<th>Interview Marks</th>
<th> Total Marks</th>
<th>Rank</th>
</tr>
<% for(let i=0;i<rank_list.length;i++){ %>
<tr>
<td><%= i+1%></td>
<td><%= rank_list[i].roll_no %></td>
<td><%= rank_list[i].gender %></td>
<td><%= rank_list[i].category %></td>
<td><%= rank_list[i].Written_M %></td>
<td><%= rank_list[i].Int_Marks %></td>
<td><%= rank_list[i].Total_M %></td>
<td><%= rank_list[i].All_Seat %></td>
</tr>
<% } %>
</table>
</body>
</html>